
$colors: (
  "background": #ffffff,
  "foreground": #090909,
  "card": #ffffff,
  "card-foreground": #090909,
  "primary": #171717,
  "primary-foreground": #fafafa,
  "primary-btn-background": #E69526,
  "secondary": #f5f5f5,
  "secondary-foreground": #171717,
  "muted": #f5f5f5,
  "muted-foreground": #737373,
  "accent": #f5f5f5,
  "accent-foreground": #171717,
  "destructive": #ef4444,
  "border": #e5e5e5,
  "input": #e5e5e5,
  "ring": #a3a3a3
);

$dark-colors: (
  "background": #090909,
  "foreground": #fafafa,
  "card": #090909,
  "card-foreground": #fafafa,
  "primary": #fafafa,
  "primary-foreground": #171717,
  "primary-btn-background": #a76d1c,
  "secondary": #262626,
  "secondary-foreground": #fafafa,
  "muted": #262626,
  "muted-foreground": #a3a3a3,
  "accent": #262626,
  "accent-foreground": #fafafa,
  "destructive": #7f1d1d,
  "border": #262626,
  "input": #262626,
  "ring": #525252
);

:root {
  // Light Mode
  @each $name, $value in $colors {
    --#{$name}: #{$value};
  }
  --radius: 0.625rem;

  // Dark Mode Nesting
  &.dark {
    @each $name, $value in $dark-colors {
      --#{$name}: #{$value};
    }
  }
}

// Global Reset & Base Styles
* {
  box-sizing: border-box;
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Geist', sans-serif;
  margin: 0;
}


.gm-btnPrimary {
  background-color: var(--primary-btn-background);
  color: var(--primary-foreground);
  border-radius: var(--radius);
  padding: 16px 24px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.08em;

  &:hover {
    filter: brightness(0.9);
  }
}